                        TorVM
---------------------------------------------------
System information

OS: {{ ansible_distribution }} {{ ansible_distribution_major_version }}
---------------------------------------------------
This system runs TorVM. A debian based distribution
for safe internet access.
